<div class="row header-top">
  <div class="col-xs-4">
    <h4>GRUPO LE GRANDE FIRME</h4>
  </div>
  <div align="center" class="col-xs-4 flags">
    <span><button><%= image_tag "us.png", class: "flag" %></button></span>
    <span><button><%= image_tag "es.png" %></button></span>
  </div>
  <div class="col-xs-4">
    <h4 align="right">
      <!--<span class="contact">CONTACT</span>-->
      <span><%= fa_icon "envelope" %></span>
      <span><%= fa_icon "arrow-right" %></span>
      &nbsp;&nbsp;
      <span class="skype"><%= link_to fa_icon("skype"), "#" %>iijbari</span>
      <span class="telegram"><%= link_to fa_icon("telegram"), "#" %>JesusDiByte</span>
      <span class="github"><%= link_to fa_icon("github"), "https://github.com/iijbari", target: :_blank %></span>
      <span class="facebook"><%= link_to fa_icon("facebook-square"), "https://www.facebook.com/The.Glitcher", target: :_blank %></span>
      <span class="twitter"><%= link_to fa_icon("twitter"), "https://twitter.com/JesusDiByte", target: :_blank %></span>
    </h4>
  </div>
</div><!--.row .top-header-->