<div class="row">
  <div class="col-xs-12">
    <h1 align="center">
      THIS IS WHAT I HAVE USED WHEN WORKING ON PROJECTS
    </h1>
  </div>
</div>

<div align="center" class="row">
  <div class="col-xs-3">
    <h1>GIT</h1>
  </div>
  <div class="col-xs-3">
    <h1 style="margin-bottom: 20px;">CSS FRAMEWORKS</h1>
  </div>
  <div class="col-xs-3">
    <h1>DATA BASES</h1>
  </div>
  <div class="col-xs-3">
    <h1>APIS</h1>
  </div>
</div>

<div class="row tools-row">
  <div class="col-xs-3" style="padding-top: 25px;">
    <%= image_tag 'tools/bitbucket.png' %>
    <%= image_tag 'tools/github.png' %>
  </div>
  <div class="col-xs-3">
    <%= image_tag 'tools/bootstrap.png' %>
    <%= image_tag 'tools/foundation.png' %>
  </div>
  <div class="col-xs-3">
    <%= image_tag 'tools/postgresql.png' %>
    <%= image_tag 'tools/mysql.png' %>
    <%= image_tag 'tools/sqlite.png' %>
  </div>
  <div class="col-xs-3">
    <%= image_tag 'tools/sendgrid.png' %>
    <%= image_tag 'tools/stripe.png' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 align="center">OTHER TOOLS I HAVE WORKED WITH:</h2>
  </div>
</div>

<div align="center" class="row tools-row-2">
  <div class="col-xs-2">
    <%= image_tag 'tools/html5.png' %>
  </div>
  <div class="col-xs-2">
    <%= image_tag 'tools/css3.png', style: "width: 131px;" %>
  </div>
  <div class="col-xs-2">
    <%= image_tag 'tools/javascript.png' %>
  </div>
  <div class="col-xs-2">
    <%= image_tag 'tools/jquery.png', style: "position: relative; top: 75px;" %>
  </div>
  <div class="col-xs-2">
    <%= image_tag 'tools/heroku.png' %>
  </div>
  <div class="col-xs-2">
    <%= image_tag 'tools/ruby-and-rails.png' %>
  </div>
</div>