<!DOCTYPE html>
<html>
  <head>
    <title>Jesús Di Bari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header id="large-header" class="large-header">
        <canvas id="demo-canvas" style="position: absolute;"></canvas>
        <%= render "home/header/header" %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= render "home/main/footer" %>
        <button class="btn btn-info" id="scrollTop" title="Go to top">
          <%= fa_icon("chevron-up") %>
        </button>
      </footer>
    </div>
  </body>
</html>
